{% extends 'pages/base_form.html' %}
{% load static humanize %}

{% block title %}Partnership Programme - {{ block.super }}{% endblock title %}
{% block desc %}We welcome all and appreciate the value given us to become a partner. Feel free to contact us with whatever partnership programme you wish we come together to achieve.{% endblock desc %}
{% block author %}{{ block.super }}{% endblock author %}
{% block kw %}property connect partnership programmer, properties contact, purchase properties in nigeria, nigeria properties, affordable properties in nigeria{% endblock %}
{% block nkw %}{% endblock %}
{% block can_link %}{% url 'partners' %}{% endblock %}
{% block og_url %}{% url 'partners' %}{% endblock %}
{% block og_desc %}We welcome all and appreciate the value given us to become a partner. Feel free to contact us with whatever partnership programme you wish we come together to achieve.{% endblock %}
{% block og_type %}website{% endblock %}
{% block twitter_title %}Partnership Programme  - Property Connect Nigeria LTD{% endblock %}


{% block inner %}
<!-- Contact Details -->
<div class="col-md-4">

    <h4 class="headline margin-bottom-30">Find Us There</h4>

    <!-- Contact Details -->
    <div class="sidebar-textbox">
        <p>Our support team will be willing to hear from you. Please be polite to them!</p>

        <ul class="contact-details">
            <li><i class="im im-icon-Phone-2"></i> <strong>Phone:</strong> <span><a  href="tel://+2348036497473"> (234) 803-649-7473</a> </span></li>
            <li><i class="im im-icon-Fax"></i> <strong>Fax:</strong> <span><a  href="fax://+2348036497473"> (234) 803-649-7473</a> </span></li>
            <li><i class="im im-icon-Globe"></i> <strong>Web:</strong> <span><a href="https://www.propertyconnect.com">www.propertyconnect.com</a></span></li>
            <li><i class="im im-icon-Envelope"></i> <strong>E-Mail:</strong> <span><a
                        href="mailto://partner@propertyconnect.com">partner@propertyconnect.com</a></span></li>
        </ul>
    </div>

</div>

<!-- Contact Form -->
<div class="col-md-8">

    <section id="contact">
        <h4 class="headline margin-bottom-35">Partnership Form</h4>

        <form method="post" action="{% url 'partners' %}" autocomplete="on">
            {% csrf_token %}
            {{ form.non_field_errors }}

            {{ form.source.errors }}
            {{ form.source }}
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <input pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" name="from_email" type="email" id="id_from_email" placeholder="Your Email Address" required="required" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div>
                        <input name="subject" type="text" id="id_subject" placeholder="Subject" required="required" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div>
                        <input name="phone" type="phone" id="id_phone" placeholder="+2347023456789" required="required" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div>
                        <input name="company" type="text" id="id_company" placeholder="Your Company Name" required="required" />
                    </div>
                </div>
            </div>

            <div>
                <textarea name="message" cols="40" rows="3" id="id_message" spellcheck="true"
                    required="required" placeholder="We will like to express our interest to go into partnership with you, to do something or market something of your or advertise your brand here and here with an improvement to your brand in this and this way. Please let us speak properly with the required management team further on this matter. Thank you"></textarea>
            </div>

            <div class="margin-bottom-35">
                <select data-placeholder_text="Preferred Contact Method" name="preferred" class="chosen-select">
                    <option value="">How do we contact you?</option>
                    <option value="Mail">Via Email</option>
                    <option value="Phone">Via Phone</option>
                </select>
            </div>

            <input type="submit" class="submit button" id="submit" value="Submit Request" />

        </form>
    </section>
</div>
<!-- Contact Form / End -->

{% endblock inner %}