{% extends "property/base.html" %}
{% load static humanize %}

{% block title %}Compare Properties Side by Side - {{ block.super }}{% endblock title %}
{% block desc %}Do a contrast between two or more properties on our site today{% endblock desc %}
{% block author %}{{ block.super }}{% endblock author %}
{% block kw %}properties on property connect, PFR, want to rent, property connect, properties, purchase properties in
nigeria, nigeria properties, affordable properties in nigeria{% endblock %}
{% block nkw %}{% endblock %}
{% block can_link %}{% url 'property:compare' %}{% endblock %}
{% block og_url %}{% url 'property:compare' %}{% endblock %}
{% block og_desc %}Do a contrast between two or more properties on our site today{% endblock %}
{% block og_type %}ecommerce{% endblock %}
{% block twitter_title %}Compare Properties Side by Side - Property Connect Nigeria LTD{% endblock %}

{% block sub_title %}Properties Compared{% endblock sub_title %}
{% block breadcrumb %}Properties > Compare{% endblock breadcrumb %}

{% block inner %}
<div class="col-md-12">

    <!-- Compare List -->
    <div class="compare-list-container">
        <ul id="compare-list">

            <li class="compare-list-properties">
                <div class="blank-div"></div>
                {% for obj in compared_properties %}
                <div v-if="!compared_property.includes({{obj.property.id}})">
                    <a href="{{obj.property.get_absolute_url}}">
                        <div class="clp-img">
                            <img src="{% if obj.property.get_image_url %}{{ obj.property.get_image_url }}{% else %}{% static 'images/listing-01.jpg' %}{% endif %}" alt="">
                            <span class="remove-from-compare" v-if="!compared_property.includes({{obj.property.id}})"  @click="removeCompare({{obj.property.id}})"><i class="fa fa-close"></i></span>
                        </div>

                        <div class="clp-title">
                            <h4>{{obj.property.property_title}}</h4>
                            <span>${{obj.property.sqft_total}}</span>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </li>

            <li>
                <div>Area</div>
                {% for obj in compared_properties %}
                <div>{{obj.property.total_area}} sq ft</div>
                {% endfor %}
            </li>

            <li>
                <div>Rooms</div>
                {% for obj in compared_properties %}
                <div>{{obj.property.property_parlors}}</div>
                {% endfor %}
            </li>

            <li>
                <div>Bedrooms</div>
                {% for obj in compared_properties %}
                <div>{{obj.property.property_bedrooms}}</div>
                {% endfor %}
            </li>

            <li>
                <div>Bathrooms</div>
                {% for obj in compared_properties %}
                <div>{{obj.property.property_bathrooms}}</div>
                {% endfor %}
            </li>

            <li>
                <div>Features</div>
                {% for obj in compared_properties %}
                <div>{% for ft in obj.property.property_features.all %}<span class="d-block mb-5 text-primary {% if forloop.first %}mt-5{% endif %}">{{ ft.property_features }}</span>{% endfor %}</div>
                {% endfor %}
            </li>

            <li>
                <div>Building Age</div>
                {% for obj in compared_properties %}
                <div>{{obj.property.property_age}} years</div>
                {% endfor %}
            </li>

        </ul>
    </div>
    <!-- Compare List / End -->

</div>

{% endblock inner %}