{% extends "property/base.html" %}
{% load static humanize %}

{% block title %}{{objects.count}} Property Listing on - {{ block.super }}{% endblock title %}
{% block desc %}We have {{objects.count}} properties for listing just waiting for you to come pick one and make it a home{% endblock desc %}
{% block author %}{{ block.super }}{% endblock author %}
{% block kw %}properties on property connect, PFR, want to rent, property connect, properties, purchase properties in nigeria, nigeria properties, affordable properties in nigeria{% endblock %}
{% block nkw %}{% endblock %}
{% block can_link %}{% url 'property:list' %}{% endblock %}
{% block og_url %}{% url 'property:list' %}{% endblock %}
{% block og_desc %}We have {{objects.count}} properties for listing just waiting for you to come pick one and make it a home{% endblock %}
{% block og_type %}ecommerce{% endblock %}
{% block twitter_title %}{{objects.count}} Properties For Rent - Property Connect Nigeria LTD{% endblock %}

{% block sub_title %}Filtered Property{% endblock sub_title %}
{% block breadcrumb %}Filtered-Property{% endblock breadcrumb %}

{% block inner %}
<div class="col-md-8" id="pList">

    <!-- Main Search Input -->
    <form class="main-search-input margin-bottom-35" action="{% url 'property:search' %}" method="get">
        <input id="autocomplete-input" name="property_title" type="text" class="ico-01" placeholder="Enter address e.g. street, city and state or zip" value=""/>
        <button type="submit" class="button">Search</button>
    </form>

    <!-- Sorting / Layout Switcher -->
    <div class="row margin-bottom-15">

        <div class="col-md-6">
            <!-- Sort by -->
            <div class="sort-by">
                <label>Sort by:</label>

                <div class="sort-by-select">
                    <select data-placeholder="Default order" class="chosen-select-no-single" >
                        <option>Default Order</option>	
                        <option>Price Low to High</option>
                        <option>Price High to Low</option>
                        <option>Newest Properties</option>
                        <option>Oldest Properties</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <!-- Layout Switcher -->
            <div class="layout-switcher">
                <a href="#" class="list"><i class="fa fa-th-list"></i></a>
                <a href="#" class="grid"><i class="fa fa-th-large"></i></a>
            </div>
        </div>
    </div>

    
    <!-- Listings -->
    <div class="listings-container list-layout">
        {% for obj in objects %}
        <!-- Listing Item -->
        <div class="listing-item">

            <a href="{{obj.get_absolute_url}}" class="listing-img-container">

                <div class="listing-badges">
                    {% if obj.featured %}<span class="featured">Featured</span>{% endif %}
                    <span>{% if obj.property_purchased %}SOLD{% else %}For Sale{% endif %}</span>
                </div>

                <div class="listing-img-content">
                    <span class="listing-price">{% if obj.property_price_type == "Sq/Ft" %}₦{{obj.sqft_total}} <i>₦{{obj.property_price}} / {{obj.property_price_type}}</i>{% else %}₦{{obj.property_price}} <i>{{obj.property_price_type}}</i>{% endif %}</span>
                    {% if request.user.is_authenticated %}
                    <span id="like-{{obj.id}}" class="like-icon with-tip {% for bookmark in request.user.bookmarkuser.all %}{% if bookmark.property.id == obj.id %}liked{% endif %}{% endfor %}" @click="bookmark({{obj.id}})" v-if="!bookmarked_property.includes({{obj.id}})" data-tip-content="Remove/Add Bookmarks"></span>
                    <span id="unlike-{{obj.id}}" class="like-icon with-tip {% for bookmark in request.user.bookmarkuser.all %}{% if bookmark.property.id == obj.id %}liked{% endif %}{% endfor %}" @click="bookmarked({{obj.id}})" v-if="bookmarked_property.includes({{obj.id}})" data-tip-content="Remove/Add Bookmarks"></span>
                    {% endif %}
                    <span class="compare-button with-tip" @click="compareProperty({{obj.id}})" data-tip-content="Add to Compare"></span>
                </div>

                <div class="listing-carousel">
                    {% for img in obj.get_all_images %}
                    <div><img src="{{img.image.url}}" alt="{{obj.property_title}} image {{forloop.counter}}"></div>
                    {% empty %}
                    <div><img src="{% static 'images/listing-01b.jpg' %}" alt="{{obj.property_title}} default no image"></div>
                    {% endfor %}
                </div>
            </a>
            
            <div class="listing-content">

                <div class="listing-title">
                    <h4><a href="{{obj.get_absolute_url}}">{{obj.property_title}}</a></h4>
                    <a href="https://maps.google.com/maps?q={{obj.formated_address}},+{{obj.formated_state}},+Nigeria&hl=en&t=v&hnear={{obj.formated_closest_address}},+{{obj.formated_state}},+United+Kingdom" class="listing-address popup-gmaps">
                        <i class="fa fa-map-marker"></i>
                        {{obj.property_location}}, {{obj.property_state}}
                    </a>

                    <a href="{{obj.get_absolute_url}}" class="details button border">Details</a>
                </div>

                <ul class="listing-details">
                    <li>{% if obj.property_price_type == "Sq/Ft" %}{{obj.total_area}}{% else %}{{obj.property_area}}{% endif %} sq ft</li>
                    <li>{{obj.property_bedrooms}} Bedroom</li>
                    <li>{{obj.property_parlors}} Parlor</li>
                    <li>{{obj.property_bathrooms}} Bathroom</li>
                </ul>

                <div class="listing-footer">
                    <a href="{% if obj.property_agent.agentprofile.company_name %}{{obj.property_agent.agentprofile.get_absolute_url}}{% else %}{{obj.property_agent.get_absolute_url}}{% endif %}"><i class="fa fa-user"></i> {{obj.property_agent.fullname}}</a>
                    <span><i class="fa fa-calendar-o"></i> {{obj.created|naturalday}}</span>
                </div>

            </div>

        </div>
        <!-- Listing Item / End -->
        {% empty %}
        <!-- Listing Item -->
        <div class="listing-item">

            <div class="listing-content p-5">
                No Properties yet to show for list
            </div>

        </div>
        <!-- Listing Item / End -->
        {% endfor %}

    </div>
    <!-- Listings Container / End -->

    
    <!-- Pagination -->
    {% if is_paginated %}
    <div class="pagination-container margin-top-20">
        <nav class="pagination">
            <ul>
                {% if page_obj.number|add:'-4' > 1 %}
                <li><a href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a>
                </li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li><a class="current-page">{{ i }}</a></li>
                    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %} 
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                <li><a href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
                {% endif %}
            </ul>
        </nav>

        <nav class="pagination-next-prev">
            <ul>
                {% if page_obj.has_previous %}
                <li><a href="?page={{page_obj.previous_page_number}}" class="prev"><i class="icon fa fa-angle-double-left"></i></a>
                </li>
                {% else %}
                <li class="disabled"><a class="prev"><i class="icon fa fa-angle-double-left"></i></a>
                </li>
                {% endif %}

                {% if page_obj.has_next %}
                <li><a href="?page={{page_obj.next_page_number}}" class="next"><i class="icon fa fa-angle-double-right"></i></a>
                </li>
                {% else %}
                <li class="disabled"><a class="next"><i class="icon fa fa-angle-double-right"></i></a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
    <!-- Pagination / End -->

</div>



<!-- Sidebar
================================================== -->
<div class="col-md-4">
    <div class="sidebar sticky right">

        <!-- Widget -->
        <form action="{% url 'property:search' %}" method="GET" class="widget margin-bottom-40">
            <h3 class="margin-top-0 margin-bottom-35">Find New Home</h3>

            <!-- Row -->
            <div class="row with-forms">
                <!-- Status -->
                <div class="col-md-12">
                    <select data-placeholder="Any Status" class="chosen-select-no-single" multiple name="property_status" >
                        <option value="Rent">Rent</option>
                        <option value="Buy">Buy</option>
                        <option value="Develop">Develop</option>
                        <option value="Shortlet">Shortlet</option>
                    </select>
                </div>
            </div>
            <!-- Row / End -->


            <!-- Row -->
            <div class="row with-forms">
                <!-- Type -->
                <div class="col-md-12">
                    <select data-placeholder="Any Type" class="chosen-select" multiple="" name="property_type" >
                        <option value="Apartment">Apartment/Flat</option>
                        <option value="House">Houses</option>
                        <option value="Commercial">Commercial</option>
                        <option value="Garage">Garage</option>
                        <option value="Lot">Parking Lot</option>
                        <option value="Garden">Garden/Recration</option>
                        <option value="Plot">Land Plot</option>
                    </select>
                </div>
            </div>
            <!-- Row / End -->


            <!-- Row -->
            <div class="row with-forms">
                <!-- States -->
                <div class="col-md-12">
                    {{ filter.form.property_state }}
                </div>
            </div>
            <!-- Row / End -->


            <!-- Row -->
            <div class="row with-forms">
                <!-- Cities -->
                <div class="col-md-12">
                    {{ filter.form.property_city }}
                </div>
            </div>
            <!-- Row / End -->


            <!-- Row -->
            <div class="row with-forms">

                <!-- Min Area -->
                <div class="col-md-6">
                    {{ filter.form.property_bedrooms }}
                </div>

                <!-- Max Area -->
                <div class="col-md-6">
                    {{ filter.form.property_bathrooms }}
                </div>

            </div>
            <!-- Row / End -->

            <!-- Row -->
            <div class="row with-forms">

                <!-- Min Area -->
                <div class="col-md-6">
                    {{ filter.form.property_parlors }}
                </div>

                <!-- Max Area -->
                <div class="col-md-6">
                    {{ filter.form.property_age }}
                </div>

            </div>
            <!-- Row / End -->

            <!-- Row -->
            <div class="row with-forms">

                <!-- Min Area -->
                <div class="col-md-6 select-input">
                    <input type="text" id="id_property_price__gte" placeholder="Min Price" name="property_price__gte" data-unit="NGN">
                    {{filter.form.property_price__gte.errors}}
                </div>

                <!-- Max Area -->
                <div class="col-md-6 select-input">
                    <input type="text" id="id_property_price__lte" placeholder="Max Price" name="property_price__lte" data-unit="NGN">
                    {{filter.form.property_price__lte.errors}}
                </div>

            </div>
            <!-- Row / End -->
            
            
            <br>

            <!-- Area Range -->
            <div class="range-slider">
                <label>Area Range (Sq/Ft)</label>
                <div id="area-range" data-min="0" data-max="90000" data-unit="sq ft"></div>
                <div class="clearfix"></div>
            </div>

            <br>
            
            <!-- Price Range -->
            <!-- <div class="range-slider">
                <label>Price Range (₦)</label>
                <div id="price-range" data-min="0" data-max="90000000" data-unit="₦"></div>
                <div class="clearfix"></div>
            </div> -->



            <!-- More Search Options -->
            <a href="#" class="more-search-options-trigger margin-bottom-10 margin-top-30" data-open-title="Additional Features" data-close-title="Additional Features"></a>

            <div class="more-search-options relative">

                <!-- Checkboxes -->
                <div class="checkboxes one-in-row margin-bottom-10">
                    {% for field in filter.form.property_features.field.choices %}
                    <input id="{{field.0}}" type="checkbox" name="property_features" value="{{field.0}}">
                    <label for="{{field.0}}">{{field.1}}</label>
                    {% endfor %}
                </div>
                <!-- Checkboxes / End -->

            </div>
            <!-- More Search Options / End -->

            <button class="button fullwidth margin-top-30">Search</button>


        </form>
        <!-- Widget / End -->

    </div>
</div>
<!-- Sidebar / End -->

{% endblock %}

{% block header_scripts %}
<script defer src="http://maps.googleapis.com/maps/api/js?key={{API_KEY}}&libraries=places&callback=initAutocomplete"></script>
{{ block.super }}
{% endblock header_scripts %}

{% block inline_javascript %}
<script>
    function initAutocomplete() {
      var input = document.getElementById('autocomplete-input');
      var autocomplete = new google.maps.places.Autocomplete(input);
  
      autocomplete.addListener('place_changed', function() {
        var place = autocomplete.getPlace();
        if (!place.geometry) {
          window.alert("No details available for input: '" + place.name + "'");
          return;
        }
      });
  }
</script>



<!-- <script type="text/javascript">
    new Vue({
        el: "#pList",
        delimiters: ["[[", "]]"],
        data () {
            return {
                //isliked: false,
                bookmarked_property: [{% for obj in objects %}{% if obj.bookmarked %}{{obj.id}},{% endif %}{% endfor %}],
            }
        },
        methods: {
            bookmark(property_id) {
                this.bookmarked_property.push(parseInt(property_id));
                var property = {
                    "property_id": property_id,
                }
    
                fetch("/properties/add/bookmark/", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json',
                        'x-CSRFToken': '{{csrf_token}}'
                    },
                    credentials: "same-origin",
                    body: JSON.stringify(property)
                })
                .then((response) => {
                    console.log(response);
                })
                .catch((error) => {
                    console.log(error);
                });
    
                const el = document.getElementById('like-' + property_id)
                const el2 = document.getElementById('unlike-' + property_id)
                const liked = "liked"
                el.classList.toggle(liked);
            },
            bookmarked(property_id) {
                this.bookmarked_property.pop(parseInt(property_id));
                var property = {
                    "property_id": property_id,
                }
    
                fetch("/properties/remove/bookmark/", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json',
                        'x-CSRFToken': '{{csrf_token}}'
                    },
                    credentials: "same-origin",
                    body: JSON.stringify(property)
                })
                .then((response) => {
                    console.log(response);
                })
                .catch((error) => {
                    console.log(error);
                });
    
                const el = document.getElementById('like-' + property_id)
                const el2 = document.getElementById('unlike-' + property_id)
                const liked = "liked"
                el2.classList.remove(liked);
            },
        }
    
    }) 
    </script>
     -->
{% endblock inline_javascript %}