{% extends "base.html" %}
{% load static humanize %}

{% block kw %}property connect, properties, purchase properties in nigeria, nigeria properties, affordable properties in nigeria{% endblock %}
{% block nkw %}{% endblock %}
{% block can_link %}{% url 'home' %}{% endblock %}

{% block banner %}
<!-- Banner
================================================== -->
<!-- Titlebar
================================================== -->
<div class="parallax titlebar"
	data-background="{% static 'images/listings-parallax.jpg' %}"
	data-color="#333333"
	data-color-opacity="0.7"
	data-img-width="800"
	data-img-height="505">

    <div id="titlebar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
    
                    <h2>{% block sub_title %}{% endblock sub_title %}</h2>
                    <span>Account</span>
                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            {% if not request.path == request.user.get_absolute_url %}
                            <li><a href="{% url 'users:detail' request.user.username %}">Account</a></li>
                            {% endif %}
                            <li>{% block breadcrumb %}{% endblock breadcrumb %}</li>
                        </ul>
                    </nav>
    
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock banner %}


{% block content %}
<!-- Content
================================================== -->
<div class="container">
	<div class="row">
        <div class="col-md-4">
            <div class="sidebar-left">
                <div class="my-account-nav-container">
                    <ul class="my-account-nav">
                        <li class="sub-nav-title">Manage Account</li>
                        {% if user == request.user %}
                        <li><a class="current" href="{% url 'users:profile' %}"><i class="sl sl-icon-user"></i>My Profile</a></li>
                        {% endif %}
                        {% if not request.user.account_type == "Individual [Searching for property]" and user == request.user %}
                        <li><a href="{% url 'users:update' %}"><i class="sl sl-icon-people"></i>Update Agency</a></li>
                        {% endif %}
                        <li><a href="{% url 'users:bookmarks' request.user.username %}"><i class="sl sl-icon-star"></i> Bookmarked Listings</a></li>
                    </ul>
                    {% if not request.user.account_type == "Individual [Searching for property]" and user == request.user %}
                    <ul class="my-account-nav">
                        <li class="sub-nav-title">Manage Listings</li>
                        <li><a href="{% url 'users:properties' %}"><i class="sl sl-icon-docs"></i> My Properties</a></li>
                        <li><a href="{% url 'property:create' %}"><i class="sl sl-icon-action-redo"></i> Submit New Property</a></li>
                    </ul>
                    {% endif %}
                    <ul class="my-account-nav">
                        {% if user == request.user %}
                        <li><a href="{% url 'account_email' %}"><i class="sl sl-icon-briefcase"></i>Update Email</a></li>    
                        <li><a href="{% url 'users:notification' %}"><i class="sl sl-icon-bell"></i>Notification Settings</a></li>    
                        <li><a href="{% url 'account_change_password' %}"><i class="sl sl-icon-lock"></i> Change Password</a></li>
                        {% endif %}
                        <li><a href="{% url 'account_logout' %}"><i class="sl sl-icon-power"></i> Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
          
        {% block inner %}
          
        {% endblock inner %}
    </div>
</div>
{% endblock %}