{% extends "users/base.html" %}
{% load static crispy_forms_tags %}

{% block title %}My Bookmarked Properties{% endblock %}
{% block can_link %}{% url 'users:bookmarks' request.user.username %}{% endblock %}

{% block sub_title %}{{request.user.fullname}} Bookmarked Properties{% endblock sub_title %}
{% block breadcrumb %}Bookmarks{% endblock breadcrumb %}

{% block inner %}
<div class="col-md-8">
    <table class="manage-table bookmarks-table responsive-table">

        <tr>
            <th><i class="fa fa-file-text"></i>Bookmarked Properties</th>
            <th></th>
        </tr>
        {% for obj in objects %}
        <!-- Item #1 -->
        <tr>
            <td class="title-container">
                <img src="{% if obj.property.get_image_url %}{{obj.property.get_image_url}}{% else %}{% static 'images/listing-05.jpg' %}{% endif %}" alt="">
                <div class="title">
                    <h4><a href="{{obj.property.get_absolute_url}}">{{obj.property.property_title}}</a></h4>
                    <span>{{obj.property.property_location}}</span>
                    <span class="table-property-price">${{obj.property.sqft_total}}</span>
                </div>
            </td>
            <td class="action">
                <a href="#" class="delete"><i class="fa fa-remove"></i> Remove</a>
            </td>
        </tr>
        {% empty %}
        <!-- Item #2 -->
        <tr>
            <td class="title-container" colspan="2">
                No Bookmark
            </td>
        </tr>
        {% endfor %}

    </table>
    <a href="{% url 'property:list' %}" class="margin-top-40 margin-bottom-55 button">Find Properties to bookmark</a>

</div>

{% endblock %}