{% extends "users/base.html" %}
{% load static crispy_forms_tags %}

{% block title %}{{ object.fullname }} Account{% endblock %}
{% block can_link %}{% url 'users:detail' object.username %}{% endblock %}

{% block sub_title %}{{object.fullname}} Profile{% endblock sub_title %}
{% block breadcrumb %}Profile{% endblock breadcrumb %}

{% block inner %}
<div class="col-md-8">
  {% if request.user.username == object.username %}
  <form method="post" action="{% url 'users:profile' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {{ form.source.errors }}
    {{ form.source }}

    <div class="row">
      <div class="col-md-8 my-profile">
        <h4 class="margin-top-0 margin-bottom-10">My Account</h4>
        <div class="row row-with-forms">
          <div class="col-md-6">
            <label for="id_first_name">Your FirstName</label>
            <input {% if object.first_name %}readonly{% endif %} id="id_first_name" maxlength="150" name="first_name" value="{% if object.first_name %}{{object.first_name}}{% endif %}" type="text">
            <small>{{form.first_name.errors}}</small>
          </div>
  
          <div class="col-md-6">
            <label for="id_last_name">Your LastName</label>
            <input {% if object.last_name %}readonly{% endif %} id="id_last_name" maxlength="150" name="last_name" value="{% if object.last_name %}{{object.last_name}}{% endif %}" type="text">
            <small>{{form.last_name.errors}}</small>
          </div>

          <div class="col-md-12">
            <label class="requiredField" for="id_username">Your Username</label>
            <input {% if object.username %}readonly{% endif %} id="id_username" maxlength="150" name="username" required value="{% if object.username %}{{object.username}}{% endif %}" type="text">
            <small>{{form.username.errors}}</small>
          </div>

          <div class="col-md-12">
            <label for="id_email">Your Email</label>
            <input {% if object.email %}readonly{% endif %} id="id_email" maxlength="150" name="email" value="{% if object.email %}{{object.email}}{% endif %}" type="email">
            <small>{{form.email.errors}}</small>
          </div>

          <div class="col-md-6">
            <label class="requiredField" for="id_phone_number">Your Phone Number</label>
            <input required id="id_phone_number" maxlength="16" name="phone_number" value="{% if object.phone_number %}{{object.phone_number}}{% endif %}" type="text">
            <small>{{form.phone_number.errors}}</small>
          </div>

          <div class="col-md-6">
            <label for="id_postcode">Your Postal Code</label>
            <input id="id_postcode" maxlength="8" name="postcode" value="{% if object.postcode %}{{object.postcode}}{% endif %}" type="email">
            <small>{{form.postcode.errors}}</small>
          </div>

        </div>

        <h4 class="margin-top-0 margin-bottom-10 margin-top-55">Social Accounts</h4>
        <div class="row row-with-forms">
          <div class="col-md-12">
            <label for="id_linkedin">Your Linkedin</label>
            <input placeholder="https://www.linkedin.com/in/username/" {% if object.linkedin %}readonly{% endif %} id="id_linkedin" maxlength="200" name="linkedin" value="{% if object.linkedin %}{{object.linkedin}}{% endif %}" type="url">
            <small>{{form.linkedin.errors}}</small>
          </div>
  
          <div class="col-md-12">
            <label for="id_facebook">Your Facebook</label>
            <input placeholder="https://www.facebook.com/yourname/" {% if object.facebook %}readonly{% endif %} id="id_facebook" maxlength="200" name="facebook" value="{% if object.facebook %}{{object.facebook}}{% endif %}" type="url">
            <small>{{form.facebook.errors}}</small>
          </div>

          <div class="col-md-12">
            <label for="id_instagram">Your Instagram</label>
            <input placeholder="https://www.instagram.com/username/" {% if object.instagram %}readonly{% endif %} id="id_instagram" maxlength="200" name="instagram" value="{% if object.instagram %}{{object.instagram}}{% endif %}" type="url">
            <small>{{form.instagram.errors}}</small>
          </div>
        </div>
             
      </div>
      
      <!-- Action buttons -->
      <div class="col-md-4">

        <div class="edit-profile-photo">
          {% if object.agentprofile.verified %}
          <span style="top:-26px !important; font-size:7rem; position:absolute; left:-24px;"><i class="fa fa-certificate text-success"></i> </span>
          <span style="top:-26px !important; font-size:7rem; position:absolute; left:-24px;"><i class="fa fa-check text-warning"></i> </span>
          {% endif %}
          <img src="{% if object.image %}{{object.image.url}}{% else %}{% static 'images/agent-02.jpg' %}{% endif %}" alt="{{object.fullname}} profile image">

          {% if object == request.user %}
          <div class="change-photo-btn">
            <div class="photoUpload">
                
                <span><i class="fa fa-upload"></i> Upload Photo</span>
                <input id="id_image" name="image" required accept="image/*" type="file" class="upload" />
                
              </div><!-- Your Stuff: Custom user template urls -->
          </div>
          {% endif %}
        </div>
        <small>{{form.instagram.errors}}</small>
        <small class="form-text text-muted" id="hint_id_image text-primary">image size: 300x300</small>


      </div> 
      <!-- End Action buttons -->
    </div>


    <button type="submit" class="button border margin-top-10 margin-bottom-55 btn-block">Update</button>

  </form>
  {% endif %}

  {% if user != object %}
  <div class="agent agent-page margin-bottom-30">

    <div class="agent-avatar">
      <img src="{% if object.image %}{{object.image.url}}{% else %}{% static 'images/agent-02.jpg' %}{% endif %}" alt="">
    </div>

    <div class="agent-content">
      <div class="agent-name">
        <h4>{{object.fullname}}</h4>
        <span>{% if object.agentprofile.verified %}<span class="text-success">Verified</span> {% else %}<span class="text-danger">Unverified </span>{% endif %}Agent</span>
      </div>

      <p>Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper</p>

      <ul class="agent-contact-details">
        <li><i class="sl sl-icon-call-in"></i>(123) 123-456</li>
        <li><i class="fa fa-envelope-o "></i><a href="#">jennie@example.com</a></li>
      </ul>

      <ul class="social-icons">
        <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
        <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
        <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
        <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>

  <h4 class="headline">Agent's Listings</h4>

  <!-- Main Search Input -->
  <div class="main-search-input margin-bottom-35">
    <input type="text" class="ico-01" placeholder="Enter address e.g. street, city and state or zip" value=""/>
    <button class="button">Search</button>
  </div>

  <!-- Sorting / Layout Switcher -->
  <div class="row margin-bottom-15">

    <div class="col-md-6">
      <!-- Sort by -->
      <div class="sort-by">
        <label>Sort by:</label>

        <div class="sort-by-select">
          <select data-placeholder="Default order" class="chosen-select-no-single" >
            <option>Default Order</option>	
            <option>Price Low to High</option>
            <option>Price High to Low</option>
            <option>Newest Properties</option>
            <option>Oldest Properties</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <!-- Layout Switcher -->
      <div class="layout-switcher">
        <a href="#" class="list"><i class="fa fa-th-list"></i></a>
        <a href="#" class="grid"><i class="fa fa-th-large"></i></a>
      </div>
    </div>
  </div>

  
  <!-- Listings -->
  <div class="listings-container list-layout">

    <!-- Listing Item -->
    <div class="listing-item">

      <a href="#" class="listing-img-container">

        <div class="listing-badges">
          <span class="featured">Featured</span>
          <span>For Sale</span>
        </div>

        <div class="listing-img-content">
          <span class="listing-price">$275,000 <i>$520 / sq ft</i></span>
          <span class="like-icon tooltip"></span>
        </div>

        <div class="listing-carousel">
          <div><img src="images/listing-01.jpg" alt=""></div>
          <div><img src="images/listing-01b.jpg" alt=""></div>
          <div><img src="images/listing-01c.jpg" alt=""></div>
        </div>
      </a>
      
      <div class="listing-content">

        <div class="listing-title">
          <h4><a href="#">Eagle Apartments</a></h4>
          <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" class="listing-address popup-gmaps">
            <i class="fa fa-map-marker"></i>
            9364 School St. Lynchburg, NY
          </a>

          <a href="#" class="details button border">Details</a>
        </div>

        <ul class="listing-details">
          <li>530 sq ft</li>
          <li>1 Bedroom</li>
          <li>3 Rooms</li>
          <li>1 Bathroom</li>
        </ul>

        <div class="listing-footer">
          <a href="#"><i class="fa fa-user"></i> David Strozier</a>
          <span><i class="fa fa-calendar-o"></i> 1 day ago</span>
        </div>

      </div>

    </div>
    <!-- Listing Item / End -->


    <!-- Listing Item -->
    <div class="listing-item">

      <a href="#" class="listing-img-container">

        <div class="listing-badges">
          <span>For Rent</span>
        </div>

        <div class="listing-img-content">
          <span class="listing-price">$900 <i>monthly</i></span>
          <span class="like-icon"></span>
        </div>

        <img src="images/listing-02.jpg" alt="">

      </a>
      
      <div class="listing-content">

        <div class="listing-title">
          <h4><a href="#">Serene Uptown</a></h4>
          <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" class="listing-address popup-gmaps">
            <i class="fa fa-map-marker"></i>
            6 Bishop Ave. Perkasie, PA
          </a>

          <a href="#" class="details button border">Details</a>
        </div>

        <ul class="listing-details">
          <li>440 sq ft</li>
          <li>1 Bedroom</li>
          <li>1 Room</li>
          <li>1 Bathroom</li>
        </ul>

        <div class="listing-footer">
          <a href="#"><i class="fa fa-user"></i> Harriette Clark</a>
          <span><i class="fa fa-calendar-o"></i> 2 days ago</span>
        </div>

      </div>

    </div>
    <!-- Listing Item / End -->


    <!-- Listing Item -->
    <div class="listing-item">

      <a href="#" class="listing-img-container">

        <div class="listing-badges">
          <span class="featured">Featured</span>
          <span>For Rent</span>
        </div>

        <div class="listing-img-content">
          <span class="listing-price">$1700 <i>monthly</i></span>
          <span class="like-icon"></span>
        </div>

        <img src="images/listing-03.jpg" alt="">

      </a>
      
      <div class="listing-content">

        <div class="listing-title">
          <h4><a href="#">Meridian Villas</a></h4>
          <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" class="listing-address popup-gmaps">
            <i class="fa fa-map-marker"></i>
            778 Country St. Panama City, FL
          </a>

          <a href="#" class="details button border">Details</a>
        </div>

        <ul class="listing-details">
          <li>1450 sq ft</li>
          <li>1 Bedroom</li>
          <li>2 Rooms</li>
          <li>2 Rooms</li>
        </ul>

        <div class="listing-footer">
          <a href="#"><i class="fa fa-user"></i> Chester Miller</a>
          <span><i class="fa fa-calendar-o"></i> 4 days ago</span>
        </div>

      </div>
      <!-- Listing Item / End -->

    </div>
    <!-- Listing Item / End -->


    <!-- Listing Item -->
    <div class="listing-item">

      <a href="#" class="listing-img-container">

        <div class="listing-badges">
          <span>For Sale</span>
        </div>

        <div class="listing-img-content">
          <span class="listing-price">$420,000 <i>$770 / sq ft</i></span>
          <span class="like-icon"></span>
        </div>

        <div class="listing-carousel">
          <div><img src="images/listing-04.jpg" alt=""></div>
          <div><img src="images/listing-04b.jpg" alt=""></div>
        </div>

      </a>
      
      <div class="listing-content">

        <div class="listing-title">
          <h4><a href="#">Selway Apartments</a></h4>
          <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" class="listing-address popup-gmaps">
            <i class="fa fa-map-marker"></i>
            33 William St. Northbrook, IL
          </a>

          <a href="#" class="details button border">Details</a>
        </div>

        <ul class="listing-details">
          <li>540 sq ft</li>
          <li>1 Bedroom</li>
          <li>3 Rooms</li>
          <li>2 Bathroom</li>
        </ul>

        <div class="listing-footer">
          <a href="#"><i class="fa fa-user"></i> Kristen Berry</a>
          <span><i class="fa fa-calendar-o"></i> 3 days ago</span>
        </div>

      </div>
      <!-- Listing Item / End -->

    </div>
    <!-- Listing Item / End -->

  </div>
  <!-- Listings Container / End -->

  
  <!-- Pagination -->
  <div class="pagination-container margin-top-20">
    <nav class="pagination">
      <ul>
        <li><a href="#" class="current-page">1</a></li>
        <li><a href="#">2</a></li>
      </ul>
    </nav>

    <nav class="pagination-next-prev">
      <ul>
        <li><a href="#" class="prev">Previous</a></li>
        <li><a href="#" class="next">Next</a></li>
      </ul>
    </nav>
  </div>
  <!-- Pagination / End -->

  {% endif %}
</div>
{% endblock inner %}
