{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% translate "Confirm E-mail Address" %}{% endblock %}


{% block kw %}
property connect, properties, purchase properties in nigeria, nigeria properties, affordable properties in nigeria
{% endblock %}

{% block nkw %}
{% endblock %}




{% block sub_title %}
Confirm E-mail Address
{% endblock sub_title %}

{% block breadcrumb %}
Confirm-E-mail-Address
{% endblock breadcrumb %}





{% block inner %}
<div class="row">
    <div class="col-md-8 col-sm-6 col-sm-offset-2 col-xs-12 col-md-offset-2">
        <h1>{% translate "Confirm E-mail Address" %}</h1>

        {% if confirmation %}

        {% user_display confirmation.email_address.user as user_display %}

        <p>{% blocktranslate with confirmation.email_address.email as email %}Please confirm that <a
                href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.
                {% endblocktranslate %}</p>

        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
            <button class="btn btn-primary btn-block text-center" type="submit">{% translate 'Confirm' %}</button>
        </form>

        {% else %}

        {% url 'account_email' as email_url %}

        <p>{% blocktranslate %}This e-mail confirmation link expired or is invalid. Please <a
                href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktranslate %}</p>

        {% endif %}

    </div>
</div>
{% endblock %}