{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% translate "Change Password" %}{% endblock %}

{% block kw %}
property connect, properties, purchase properties in nigeria, nigeria properties, affordable properties in nigeria
{% endblock %}

{% block nkw %}
{% endblock %}




{% block sub_title %}
Change Password
{% endblock sub_title %}

{% block breadcrumb %}
Change-Password-key
{% endblock breadcrumb %}





{% block inner %}
<div class="row">
    <div class="col-md-8 col-sm-6 col-sm-offset-2 col-xs-12 col-md-offset-2">
        <h1>{% translate "Change Password was Successful" %}</h1>
        <p>{% translate 'Your password is now changed.' %}</p>
        <br>
        <br>
        <a href="{% url 'home' %}" class=" text-white button medium btn-block text-center">Return Home</a>
    </div>
</div>
{% endblock %}