{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block kw %}
property connect, properties, purchase properties in nigeria, nigeria properties, affordable properties in nigeria
{% endblock %}

{% block nkw %}
{% endblock %}

{% block can_link %}
{% url 'account_reset_password' %}
{% endblock %}





{% block sub_title %}
Password Reset
{% endblock sub_title %}

{% block breadcrumb %}
Password-Reset
{% endblock breadcrumb %}





{% block inner %}
<div class="row">
    <div class="col-md-8 col-sm-6 col-sm-offset-2 col-xs-12 col-md-offset-2">

    <h1>{% translate "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% translate "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary btn-block text-center" type="submit" value="{% translate 'Reset My Password' %}" />
    </form>

    <p>{% blocktranslate %}<a href="mailto://support@propertyconnect.ng">Please contact us </a> if you have any trouble resetting your password.{% endblocktranslate %}</p>
    </div>
</div>
{% endblock %}
