{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% translate "Change Password" %}{% endblock %}

{% block kw %}
property connect, properties, purchase properties in nigeria, nigeria properties, affordable properties in nigeria
{% endblock %}

{% block nkw %}
{% endblock %}




{% block sub_title %}
Change Password
{% endblock sub_title %}

{% block breadcrumb %}
Change-Password-key
{% endblock breadcrumb %}





{% block inner %}
<div class="row">
    <div class="col-md-8 col-sm-6 col-sm-offset-2 col-xs-12 col-md-offset-2">
    <h1>{% if token_fail %}{% translate "Bad Token" %}{% else %}{% translate "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktranslate %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktranslate %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action=".">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn button medium bt-block text-center text-white" type="submit" name="action" value="{% translate 'change password' %}"/>
            </form>
        {% else %}
            <p>{% translate 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
    </div>
</div>
{% endblock %}
