{% extends "users/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Change Password" %}{% endblock %}


{% block kw %}
property connect, properties, purchase properties in nigeria, nigeria properties, affordable properties in nigeria
{% endblock %}

{% block nkw %}
{% endblock %}




{% block sub_title %}
Change Password
{% endblock sub_title %}

{% block breadcrumb %}
Change-Password
{% endblock breadcrumb %}





{% block inner %}
<div class="col-md-8">
    <div class="row">
        <div class="col-md-8">
            <h1>{% translate "Change Password Form" %}</h1>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="button btn btn-block  text-white text-center" type="submit" name="action">{% translate "Change Password" %}</button>
            </form>
        </div>
        <div class="col-md-4">
            <div class="notification notice">
                <p>Your password should be at least 8 long. <br><br> Include random characters to be safe. <br><br> Should include atleast: 1 number, 1 UPPERCASE ALPHABETH and a symbol eg @.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
