{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block kw %}
property connect, properties, purchase properties in nigeria, nigeria properties, affordable properties in nigeria
{% endblock %}

{% block nkw %}
{% endblock %}




{% block sub_title %}
Password Reset
{% endblock sub_title %}

{% block breadcrumb %}
Password-Reset
{% endblock breadcrumb %}





{% block inner %}
<div class="row">
    <div class="col-md-8 col-sm-6 col-sm-offset-2 col-xs-12 col-md-offset-2">
    <h1>{% translate "Password Reset" %}</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktranslate %}We have sent you an e-mail.  <a href="mailto://support@propertyconnect.ng">Please contact us </a> if you do not receive it within a few minutes.{% endblocktranslate %}</p>
    <br>
    <br>
    <a href="{% url 'home' %}" class="button medium btn-block text-center">Return Home</a>
</div>
</div>
{% endblock %}
