{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Sign Up Closed" %}{% endblock %}

{% block kw %}
property connect, properties, purchase properties in nigeria, nigeria properties, affordable properties in nigeria
{% endblock %}

{% block nkw %}
{% endblock %}




{% block sub_title %}
No More Registration
{% endblock sub_title %}

{% block breadcrumb %}
Signup-Closed
{% endblock breadcrumb %}

{% block inner %}
<div class="row">
    <div class="col-md-8 col-sm-6 col-sm-offset-2 col-xs-12 col-md-offset-2">
        <h1 class="text-center">{% translate "Sign Up Closed" %}</h1>
    
        <p class="text-center">{% translate "We are sorry, but the sign up is currently closed. This is due to the fact that we have reached our maximum capacity and as such the current properties available is insufficient to serve the growing number of users signing up daily" %}</p>

        <a href="{% url 'home' %}" class="button medium">Please Go Back Home</a>
    </div>
</div>
{% endblock %}
