{% extends "account/base.html" %}
{% load static i18n account socialaccount crispy_forms_tags %}

{% block head_title %}
{% translate "verify your email Address" %}
{% endblock %}

{% block kw %}
property connect, properties, purchase properties in nigeria, nigeria properties, affordable properties in nigeria
{% endblock %}

{% block nkw %}
{% endblock %}

{% block can_link %}
{% url 'account_email_verification_sent' %}
{% endblock %}





{% block sub_title %}
Verify Your Email Address
{% endblock sub_title %}

{% block breadcrumb %}
confirm-email
{% endblock breadcrumb %}

{% block inner %}
<div class="row">
    <div class="col-md-8 col-sm-6 col-sm-offset-2 col-xs-12 col-md-offset-2">
        <h1>{% translate "Verify Your E-mail Address" %}</h1>

        {% url 'account_email' as email_url %}

        <p>{% blocktranslate %}This part of the site requires us to verify that
            you are who you claim to be. For this purpose, we require that you
            verify ownership of your e-mail address. {% endblocktranslate %}</p>

        <p>{% blocktranslate %}We have sent an e-mail to you for
            verification. Please click on the link inside this e-mail.
            <a href="mailto://support@propertyconnect.ng">Please contact us</a> if you do not receive it within a few
            minutes.{% endblocktranslate %}
        </p>

        <p>{% blocktranslate %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail
                address</a>.{% endblocktranslate %}</p>
    </div>
</div>
{% endblock %}