{% load static %}
    <!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					<a href="{% url 'home' %}"><img height="50" src="{% static 'images/logo.png' %}" alt="Property Connect Logo on Nav Bar"></a>
				</div>


				<!-- Mobile Navigation -->
				<div class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>


				<!-- Main Navigation -->
				<nav id="navigation" class="style-1">
					<ul id="responsive">

						<li><a class="current" href="{% url 'home' %}">Home</a></li>
						<li><a href="{% url 'tips:list' %}">Tips</a></li>
						<li><a href="#">Property</a>
							<ul>
								<li><a href="{% url 'property:list' %}">All Properties</a></li>
								<li><a href="{% url 'property:map' %}">Properties Map</a></li>
								<li><a href="/properties/search/?property_status=Rent&property_state=&property_city=&property_bedrooms=&property_bathrooms=&property_parlors=&property_age=&property_price__gte=&property_price__lte=&property_area_min=0&property_area_max=90000/">For Rent</a></li>
								<li><a href="/properties/search/?property_status=Buy&property_state=&property_city=&property_bedrooms=&property_bathrooms=&property_parlors=&property_age=&property_price__gte=&property_price__lte=&property_area_min=0&property_area_max=90000/">For Sale</a></li>
								<li><a href="/properties/search/?property_status=Develop&property_state=&property_city=&property_bedrooms=&property_bathrooms=&property_parlors=&property_age=&property_price__gte=&property_price__lte=&property_area_min=0&property_area_max=90000/">For Developing</a></li>
								<li><a href="/properties/search/?property_status=Shortlet&property_state=&property_city=&property_bedrooms=&property_bathrooms=&property_parlors=&property_age=&property_price__gte=&property_price__lte=&property_area_min=0&property_area_max=90000/">For Shortlet</a></li>
							</ul>
						</li>
						<li><a href="#">Companies</a>
							<ul>
								<li><a href="{% url 'users:agents' %}">Property Agents</a></li>
								<li><a href="{% url 'users:companies' %}">Property Companies</a></li>
							</ul>
						</li>
						<li><a href="#">Support</a>
							<ul>
								<li><a href="{% url 'enquire' %}">Enquire</a></li>
								<li><a href="{% url 'partners' %}">Partnership</a></li>
								<li><a href="{% url 'report' %}">Report Scam</a></li>
							</ul>
						</li>
					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->

			<!-- Right Side Content / End -->
			<div class="right-side">
				<!-- Header Widget -->
				<div class="header-widget">
                    {% if not request.user.is_authenticated %}
						{% if not request.path == "/accounts/login/" %}
						<a href="{% url 'account_login' %}" class="sign-in"><i class="fa fa-user"></i> Log In </a>
						{% elif request.path == "/accounts/login/" %}
						<a href="{% url 'account_signup' %}" class="sign-in"><i class="fa fa-user"></i> Register </a>
						{% endif %}
                    {% else %}
						<div class="user-menu">
							<div class="user-name"><span><img src="{% if request.user.userprofile.image %}{{request.user.userprofile.image.url}}{% else %}{% static 'images/agent-03.jpg' %}{% endif %}" alt="User Profile Photo"></span>Hi, {{request.user.fullname|truncatechars:4}}!</div>
							<ul>
								<li><a href="{% url 'users:detail' request.user.username %}"><i class="sl sl-icon-user"></i> My Dashboard</a></li>
								<li><a href="{% url 'account_logout' %}"><i class="sl sl-icon-logout"></i> Logout</a></li>
							</ul>
						</div>
						{% if request.user.account_type == "Individual [Searching for property]" and request.user.accept_term %}
						<a href="{% url 'enquire' %}" class="button border">Submit Request</a>
						{% else %}
						<a href="{% url 'property:create' %}" class="button border">Submit Property</a>
						{% endif %}
                    {% endif %}
				</div>
				<!-- Header Widget / End -->
			</div>
			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->
