{% comment %}{% load google_translate %}{% endcomment }

<!-- Topbar -->
<div id="top-bar">
    <div class="container">

        <!-- Left Side Content -->
        <div class="left-side">

            <!-- Top bar -->
            <ul class="top-bar-menu">
                <li>
                    <div class="top-bar-dropdown">
                        {% comment %}{% google_translate type='simple' language='{{request.user.loginhistory.language_code}}' %}{% endcomment %}
                    </div>
                </li>
                <li><i class="fa fa-phone"></i> <a href="tel://+2348036497473"> (234) 803-649-7473</a> </li>
                <li><i class="fa fa-envelope"></i> <a href="mailto://office@propertyconnect.ng">office@propertyconnect.ng</a></li>
            </ul>

        </div>
        <!-- Left Side Content / End -->


        <!-- Left Side Content -->
        <div class="right-side">

            <!-- Social Icons -->
            <ul class="social-icons">
                <li><a class="facebook" href="https://www.facebook.com/propertyconnec8/"><i class="icon-facebook"></i></a></li>
                <li><a class="instagram" href="https://www.instagram.com/propertyconnec8/"><i class="icon-instagram"></i></a></li>
                <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
            </ul>

        </div>
        <!-- Left Side Content / End -->

    </div>
</div>
<div class="clearfix"></div>
<!-- Topbar / End -->