{% extends "tips/base.html" %}
{% load static humanize comment_tags %}

{% block title %}{{object.title}} - {{ block.super }}{% endblock title %}
{% block desc %}{{object.tip_content|truncatechars:150}}{% endblock desc %}
{% block author %}{{object.author}}{% endblock author %}
{% block kw %}{{object.title}}, {{object.author}}, property connect, property tips, tips, properties, purchase
properties in nigeria, nigeria properties, affordable properties in nigeria{% endblock %}
{% block nkw %}{% endblock %}
{% block can_link %}{% url 'tips:detail' object.slug %}{% endblock %}
{% block og_url %}{% url 'tips:detail' object.slug %}{% endblock %}
{% block og_desc %}{{object.tip_content|truncatechars:150}}{% endblock %}
{% block og_type %}post{% endblock %}
{% block twitter_title %}{{object.title}} Properties For Rent - Property Connect Nigeria LTD{% endblock %}

{% block sub_title %}{{object.tip_type}}{% endblock sub_title %}
{% block breadcrumb %}{{object.slug}}{% endblock breadcrumb %}

{% block inner %}
<div class="col-md-8">


    <!-- Blog Post -->
    <div class="blog-post single-post">

        <!-- Img -->
        <img class="post-img"
            src="{% if object.get_image_url %}{{object.get_image_url}}{% else %}{% static 'images/blog-post-02a.jpg' %}{% endif %}"
            alt="{{object.title}} image">


        <!-- Content -->
        <div class="post-content">
            <h3>{{object.title}}</h3>

            <ul class="post-meta">
                <li>{{object.created}}</li>
                <li><a href="#">{% get_comments_count object user %} Comments</a></li>
            </ul>

            {{object.tip_content|safe}}

            <!-- Share Buttons -->
            <ul class="share-buttons margin-top-40 margin-bottom-0">
                <li><a class="fb-share" href="#"><i class="fa fa-facebook"></i> Share</a></li>
                <li><a class="twitter-share" href="#"><i class="fa fa-twitter"></i> Tweet</a></li>
                <li><a class="gplus-share" href="#"><i class="fa fa-google-plus"></i> Share</a></li>
                <li><a class="pinterest-share" href="#"><i class="fa fa-pinterest-p"></i> Pin</a></li>
            </ul>
            <div class="clearfix"></div>

        </div>
    </div>
    <!-- Blog Post / End -->


    <!-- Post Navigation -->
    <ul id="posts-nav" class="margin-top-0 margin-bottom-40">
        <li class="next-post">
            <a href="{{next.get_absolute_url}}"><span>Next Post</span>
                {{next.title}}</a>
        </li>
        <li class="prev-post">
            <a href="{{previous.get_absolute_url}}"><span>Previous Post</span>
                {{pervious.title}}</a>
        </li>
    </ul>


    <!-- About Author -->
    <div class="about-author">
        <img src="{% if object.author.image %}{{object.author.image.url}}{% else %}{% static 'images/agent-avatar.jpg' %}{% endif %}" alt="" />
        <div class="about-description">
            <h4>{{object.author}}</h4>
            <a href="{{object.author.get_absolute_url}}">{{object.author.fullname}}</a>
            <p>A verified seasoned writer, content creator and an expert in property management working with Property Connect Nigeria</p>
        </div>
    </div>


    <!-- Related Posts -->
    <div class="clearfix"></div>
    <h4 class="headline margin-top-25">Related Posts</h4>
    <div class="row">
        {% for obj in object.get_related_tip %}
        <div class="col-md-6">

            <!-- Blog Post -->
            <div class="blog-post">

                <!-- Img -->
                <a href="{{obj.get_absolute_url}}" class="post-img">
                    <img src="{% if obj.get_image_url %}{{obj.get_image_url}}{% else %}{% static 'images/blog-post-02.jpg' %}{% endif %}" alt="{{obj.title}} image">
                </a>

                <!-- Content -->
                <div class="post-content">
                    <h3><a href="{{obj.get_absolute_url}}">{{obj.title}}</a></h3>
                    <p>{{obj.tip_content|safe|truncatechars:250}} </p>

                    <a href="{{obj.get_absolute_url}}" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
                </div>

            </div>
            <!-- Blog Post / End -->

        </div>
        {% empty %}
        <div class="col-md-6">

            <!-- Blog Post -->
            <div class="blog-post">

               <!-- Content -->
                <div class="post-content p-5 text-center">
                    <p>No related post to {{object.title}}</p>
                </div>

            </div>
            <!-- Blog Post / End -->

        </div>
        {% endfor %}
    </div>
    <!-- Related Posts / End -->


    <div class="margin-top-50"></div>

    <!-- Reviews -->
    <section class="comments">
        <h4 class="headline margin-bottom-35">Comments <span class="comments-amount">(5)</span></h4>
        {% render_comments object request %}
        <ul>
            <li>
                <div class="avatar"><img
                        src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" />
                </div>
                <div class="comment-content">
                    <div class="arrow-comment"></div>
                    <div class="comment-by">Kathy Brown<span class="date">12th, June 2015</span>
                        <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
                    </div>
                    <p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu
                        ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus</p>
                </div>

                <ul>
                    <li>
                        <div class="avatar"><img
                                src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70"
                                alt="" /></div>
                        <div class="comment-content">
                            <div class="arrow-comment"></div>
                            <div class="comment-by">Tom Smith<span class="date">12th, June 2015</span>
                                <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
                            </div>
                            <p>Rrhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae.
                                Curabitur lacinia neque.</p>
                        </div>
                    </li>
                    <li>
                        <div class="avatar"><img
                                src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70"
                                alt="" /></div>
                        <div class="comment-content">
                            <div class="arrow-comment"></div>
                            <div class="comment-by">Kathy Brown<span class="date">12th, June 2015</span>
                                <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
                            </div>
                            <p>Nam posuere tristique sem, eu ultricies tortor.</p>
                        </div>

                        <ul>
                            <li>
                                <div class="avatar"><img
                                        src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70"
                                        alt="" /></div>
                                <div class="comment-content">
                                    <div class="arrow-comment"></div>
                                    <div class="comment-by">John Doe<span class="date">12th, June 2015</span>
                                        <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
                                    </div>
                                    <p>Great template!</p>
                                </div>
                            </li>
                        </ul>

                    </li>
                </ul>

            </li>

            <li>
                <div class="avatar"><img
                        src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" />
                </div>
                <div class="comment-content">
                    <div class="arrow-comment"></div>
                    <div class="comment-by">John Doe<span class="date">15th, May 2015</span>
                        <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
                    </div>
                    <p>Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis,
                        ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris.</p>
                </div>

            </li>
        </ul>

    </section>


    <div class="clearfix"></div>
    <div class="margin-top-55"></div>


    <!-- Add Comment -->
    <h4 class="headline">Add Comment</h4>
    <div class="margin-top-15"></div>

    <!-- Add Comment Form -->
    <form id="add-comment" class="add-comment">
        <fieldset>

            <div>
                <label>Name:</label>
                <input type="text" value="" />
            </div>

            <div>
                <label>Email: <span>*</span></label>
                <input type="text" value="" />
            </div>

            <div>
                <label>Comment: <span>*</span></label>
                <textarea cols="40" rows="3"></textarea>
            </div>

        </fieldset>

        <a href="#" class="button">Add Comment</a>
        <div class="clearfix"></div>
        <div class="margin-bottom-20"></div>

    </form>

</div>
<!-- Content / End -->





<!-- Sidebar
	================================================== -->

<!-- Widgets -->
<div class="col-md-4">
    <div class="sidebar right">

        <!-- Widget -->
        <div class="widget">
            <h3 class="margin-top-0 margin-bottom-25">Search Blog</h3>
            <form method="GET" action="{% url 'tips:list' }" class="search-blog-input">
                <div class="input"><input class="search-field" type="text" name="q" placeholder="Type and hit enter" value="" />
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
        <!-- Widget / End -->


        <!-- Widget -->
        <div class="widget">
            <h3>Got any questions?</h3>
            <div class="info-box margin-bottom-10">
                <p>If you are having any questions, please feel free to ask.</p>
                <a href="contact.html" class="button fullwidth margin-top-20"><i class="fa fa-envelope-o"></i> Drop Us a
                    Line</a>
            </div>
        </div>
        <!-- Widget / End -->


        <!-- Widget -->
        <div class="widget">

            <h3>Popular Posts</h3>
            <ul class="widget-tabs">

                <!-- Post #1 -->
                <li>
                    <div class="widget-content">
                        <div class="widget-thumb">
                            <a href="blog-full-width-single-post.html"><img src="images/blog-widget-03.jpg" alt=""></a>
                        </div>

                        <div class="widget-text">
                            <h5><a href="blog-full-width-single-post.html">What to Do a Year Before Buying Apartment
                                </a></h5>
                            <span>October 26, 2016</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </li>

                <!-- Post #2 -->
                <li>
                    <div class="widget-content">
                        <div class="widget-thumb">
                            <a href="blog-full-width-single-post.html"><img src="images/blog-widget-02.jpg" alt=""></a>
                        </div>

                        <div class="widget-text">
                            <h5><a href="blog-full-width-single-post.html">Bedroom Colors You'll Never Regret</a></h5>
                            <span>November 9, 2016</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </li>

                <!-- Post #3 -->
                <li>
                    <div class="widget-content">
                        <div class="widget-thumb">
                            <a href="blog-full-width-single-post.html"><img src="images/blog-widget-01.jpg" alt=""></a>
                        </div>

                        <div class="widget-text">
                            <h5><a href="blog-full-width-single-post.html">8 Tips to Help You Finding New Home</a></h5>
                            <span>November 12, 2016</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </li>

            </ul>

        </div>
        <!-- Widget / End-->


        <!-- Widget -->
        <div class="widget">
            <h3 class="margin-top-0 margin-bottom-25">Social</h3>
            <ul class="social-icons rounded">
                <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
            </ul>

        </div>
        <!-- Widget / End-->

        <div class="clearfix"></div>
        <div class="margin-bottom-40"></div>
    </div>
</div>
<!-- Sidebar / End -->

{% endblock inner %}